/* super reset css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');
html{
    font-size: 62.5%; /* 16 mult 62.5 = 10.000 rem*/
    color: #fff;
}
body{
    font: 1.6rem "Roboto Slab", sans-serif;
    margin: 0;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    background-color: #2b2a33;
}
h1,h2,h3,h4,h5,h6,
p,ul,ol,figure{
    margin: 0;
    padding: 0;
    list-style: none;
}

/* sélecteur universel */
*{
    box-sizing: border-box;
}
img{
    /* height: 100%;
    width:100%; */
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
a{
    text-decoration: none;
    color: var(--color-alert);
}
button{
        background-color: transparent;
        border: 0;
        padding: 0;
        font-size: inherit;
}
/* theme */
 header h1{
    line-height: 8.0rem;
    text-align: center;
 }
 aside{
    max-width: 90rem;
    margin: 2rem auto;
    background-color: #fff;
 }
 aside img{
    width: 100%;
    padding: 1rem;
 }
 main{
    max-width: 120rem;
    margin: 0 auto 2rem;
 }
 main section h2{
    line-height: 6.5rem;
 }
 main section p{
    background-color: #42414d;
    padding: 1rem;
    border-radius: .5rem;
 }
 main section ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    background-color: #42414d;
    border-radius: .5rem;
    padding: 1rem;
 }
 main section ul li img{
    width: 100%;
    
 }
 main section.portfolio-experience ul{
    display: block;
 }